{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "react/forbid-prop-types": [1, { "forbid": [ "any" ] }],
    "no-console": "off"
  },
  "env": {
    "node": true
  }
}
